{% extends 'base.html' %}
{% block content %}
    <h1>{% block title %} MyMovie App {% endblock %}</h1>
    <form method="post">
        <div class="form-group">
            <label> Movie Title :
                <input type="text" name="title" placeholder="Enter movie title..." class="form-control margin"
                       value="{{ request.form['title'] }}"/>
            </label>
            <button class="btn btn-info margin" >Show Info</button>
        </div>
    </form>
    {% if warning != '' %}
        <p style="color:#ff0000"><span id="warning">{% block warning %} {{ warning }} {% endblock %}</span></p>
    {% endif %}
    {% for obj in info %}
        {% if suggestion != '' %}
            <p id="suggestion">May Be What You are looking for is <span id="title-suggestion"
                                                                        onclick="searchClicked()">{% block suggestion %}
                {{ suggestion }} {% endblock %}</span></p>
            <div id="filmInfo" style="display:none">
                    <h3>{{ obj['original_title']['value'] }} ({{ obj['release_date']['value'] }})</h3>
                    <span style="margin-top: 1px">{{ obj['runtime']['value'] }} Minutes</span>
                    <h6>{{ obj['tagline']['value'] }}</h6>
                    <div style="  display: flex ;flex-direction: row ; justify-content: space-around">
                        <div >Language : {{ obj['original_lang']['value'] }}</div>
                        <div >Budget : {{ obj['budget']['value'] }} USD</div>
                        <div >Revenue : {{ obj['revenue']['value'] }} USD</div>
                    </div>
                    <div>
                        <h5>
                            Overview
                        </h5>
                        <p>{{ obj['overview']['value'] }}</p>
                    </div>
            </div>
        {% else %}
            <div id="filmInfo">
                    <h3>{{ obj['original_title']['value'] }} ({{ obj['release_date']['value'] }})</h3>
                    <span style="margin-top: 1px">{{ obj['runtime']['value'] }} Minutes</span>
                    <h6>{{ obj['tagline']['value'] }}</h6>
                    <div style="  display: flex ;flex-direction: row ; justify-content: space-around">
                        <div >Language : {{ obj['original_lang']['value'] }}</div>
                        <div >Budget : {{ obj['budget']['value'] }} USD</div>
                        <div >Revenue : {{ obj['revenue']['value'] }} USD</div>
                    </div>
                    <div>
                        <h5>
                            Overview
                        </h5>
                        <p>{{ obj['overview']['value'] }}</p>
                    </div>
            </div>
        {% endif %}

    {% endfor %}
{% endblock %}